<a href="https://colab.research.google.com/github/Data-Intelligence-Mastery/data_science_interview_questions/blob/master/Q008_user_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Testing user conversion

*Data Analysis, Python, Pandas, Statistics, T-test, External Dataset*


Given the following dataset, can you see if there's a significant difference between the conversion rate of users between the test and control group? The relevant columns in the table are conversion and test. The conversion column has values of 0 and 1 which represent if the user converted (1) or not (0). The test table has values of 0 and 1 as well, 0 for the control group and 1 for the test group.

[Dataset link](https://raw.githubusercontent.com/Data-Intelligence-Mastery/data_science_interview_questions/master/data/user-conversion.csv)

In [3]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Data-Intelligence-Mastery/data_science_interview_questions/master/data/user-conversion.csv')
df.head()

   user_id        date  source  ...      browser conversion test
0   315281  2015-12-03  Direct  ...           IE          1    0
1   497851  2015-12-04     Ads  ...           IE          0    1
2   848402  2015-12-04     Ads  ...       Chrome          0    0
3   290051  2015-12-03     Ads  ...  Android_App          0    1
4   548435  2015-11-30     Ads  ...      FireFox          0    1

[5 rows x 9 columns]

First we can calcualate the conversion rate within the test and control group. It's a good practice but not necessary to perform the t-test.

In [6]:
test_conv = df.groupby(['test','conversion']).count()
test_conv

                 user_id   date  source  ...  browser_language  ads_channel  browser
test conversion                          ...
0    0             17106  17106   17106  ...             17106         6849    17106
     1               958    958     958  ...               958          394      958
1    0             15525  15525   15525  ...             15525         6143    15525
     1               724    724     724  ...               724          315      724

[4 rows x 7 columns]

In [9]:
table = pd.DataFrame(test_conv['user_id'])
table

                 user_id
test conversion
0    0             17106
     1               958
1    0             15525
     1               724

In [16]:
control_conv_rate = round(958/(958+17106), 3)
test_conv_rate = round(724/(724+15525), 3)

print('Control conversion rate: ', control_conv_rate)
print('Test conversion rate: ', test_conv_rate)

Control conversion rate:  0.053
Test conversion rate:  0.045

In [32]:
df_test = pd.DataFrame(df[df['test']==1]['conversion'])
df_control = pd.DataFrame(df[df['test']==0]['conversion'])

import numpy as np
df_test = np.array(df_test)
df_control = np.array(df_control)

print ('df_test dimension: ', df_test.shape)
print ('df_control dimension: ', df_control.shape)

df_test dimension:  (16249, 1)
df_control dimension:  (18064, 1)

In [41]:
from scipy import stats
_, p = stats.ttest_ind(df_test, df_control)

print ('p value: ', round(p[0], 5))

p value:  0.00028

Because p value is smaller than 0.05 (p value threshold), therefore we reject the null hypothesis, which is there is no significant difference of conversion rate between test and control group and accept alternate hypothesis that there is significant difference!