<a href="https://colab.research.google.com/github/Data-Intelligence-Mastery/data_science_interview_questions/blob/master/Q025_quantile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ranking, splitting into quantiles with Python



---

<p>Suppose you're given a large table containing student grades, with the following structure:</p>

In [16]:
#code to generate example dataframe
import pandas as pd
raw_data = {'age': [20, 19, 22, 21, 21, 20], 
        'favorite_color': ['blue', 'blue', 'yellow', 'green', 'green', 'blue'], 
        'grade': [88, 95, 92, 70, 94, 90], 
        'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel', 'Linda Ugo', 'Susy Smith']}
df = pd.DataFrame(raw_data, columns = ['age', 'favorite_color', 'grade', 'name',])
df

   age favorite_color  grade              name
0   20           blue     88    Willard Morris
1   19           blue     95       Al Jennings
2   22         yellow     92      Omar Mullins
3   21          green     70  Spencer McDaniel
4   21          green     94         Linda Ugo
5   20           blue     90        Susy Smith

<p>You can assume the records below are a preview, and go on for some length.</p>
<p><b>Question:</b> Using Python, add a column with the student ranking in ascending order by 'grade'. Next, calculate the following summary statistics for the student grades:</p>
<ul><li>median grade</li>
  <li>25th percentile grade</li>
  <li>75th percentile grade</li>
</ul>



---

In [17]:
df.sort_values(by=['grade'], inplace=True)
df

   age favorite_color  grade              name
3   21          green     70  Spencer McDaniel
0   20           blue     88    Willard Morris
5   20           blue     90        Susy Smith
2   22         yellow     92      Omar Mullins
4   21          green     94         Linda Ugo
1   19           blue     95       Al Jennings

In [3]:
df['grade'].median()

91.0

In [18]:
df['pct']=df[['grade']].rank(pct=True)
df.reset_index(inplace=True, drop=True)
df

   age favorite_color  grade              name       pct
0   21          green     70  Spencer McDaniel  0.166667
1   20           blue     88    Willard Morris  0.333333
2   20           blue     90        Susy Smith  0.500000
3   22         yellow     92      Omar Mullins  0.666667
4   21          green     94         Linda Ugo  0.833333
5   19           blue     95       Al Jennings  1.000000

### Calculate 25 and 75 percentile grade

In [66]:
for pct_target in [0.25, 0.5, 0.75]:
  for ix, *val in df.itertuples():
    pct_target_ = pct_target*6
    
    if ix+1 >= pct_target_:
      print(pct_target_)
      if ix+1>pct_target_:
        print(f"{int(pct_target*100)} percentile grade is: {df.loc[ix, ['grade']]}")
        break
      else:
        print(f"{int(pct_target*100)} percentile grade is: {(df.loc[ix, ['grade']]+ df.loc[ix+1, ['grade']])/2}")
        break

1.5
25 percentile grade is: grade    88
Name: 1, dtype: object
3.0
50 percentile grade is: grade    91
dtype: object
4.5
75 percentile grade is: grade    94
Name: 4, dtype: object

In [62]:
str(1.1)

'1.1'

In [51]:
df['grade'].quantile([0.25, 0.5, 0.75], interpolation='lower')

0.25    88
0.50    90
0.75    92
Name: grade, dtype: int64

For more info: 

visit [wikipedia](https://en.wikipedia.org/wiki/Percentile)
and [stackoverflow](https://stackoverflow.com/questions/39581893/pandas-find-percentile-stats-of-a-given-column)