<a href="https://colab.research.google.com/github/Data-Intelligence-Mastery/data_science_interview_questions/blob/master/Q026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

U.S. state population statistics

`Data Analysis Python Pandas Data Manipulation External Dataset`

Given the following datasets:

[US births/deaths by state](https://raw.githubusercontent.com/Data-Intelligence-Mastery/data_science_interview_questions/master/data/us_state_births.csv)

[U.S. population by state](https://raw.githubusercontent.com/Data-Intelligence-Mastery/data_science_interview_questions/master/data/us_state_populations.csv)

### Answer the following questions:

1. Calculate the birth rate and death rate for each state. For the purposes of this question you can define the rate as the # of births/deaths divided by the total population.

2. Create a new column appended to the first dataset with the net population change (births-deaths) by state.

3. Using the column from (2), project out the future population by state in 5 years, assuming the population change remains the same (on an absolute/n-count basis). You can assume each state's net transfer in/out rate from folks moving is 0 for this question's sake.

  For example, if CA's population is 30M and the birth-death rate is 150k, then the projected population in 5 years is just 30,000,000 + 150,000*5 = 30.75M.

In [5]:
import pandas as pd
link1 = 'https://raw.githubusercontent.com/Data-Intelligence-Mastery/data_science_interview_questions/master/data/us_state_births.csv'
link2 = 'https://raw.githubusercontent.com/Data-Intelligence-Mastery/data_science_interview_questions/master/data/us_state_populations.csv'
df_birth_death = pd.read_csv(link1)
df_pop = pd.read_csv(link2)
print(df_birth_death.head(5), len(df_birth_death))
print(df_pop.head(5), len(df_pop))

        State  Births  Deaths
0     Alabama   58941   53238
1      Alaska   10445    4411
2     Arizona   81872   57758
3    Arkansas   37520   32588
4  California  471658  268189 50
          State  Population
0    California    39865590
1         Texas    29206997
2       Florida    21299325
3      New York    19542209
4  Pennsylvania    12807060 50

In [9]:
df = pd.merge(df_birth_death, df_pop, left_on='State', right_on='State', how='inner')
df.head(), len(df)

(        State  Births  Deaths  Population
 0     Alabama   58941   53238     4887871
 1      Alaska   10445    4411      737438
 2     Arizona   81872   57758     7171646
 3    Arkansas   37520   32588     3013825
 4  California  471658  268189    39865590, 50)

In [11]:
df['birth_rate'] = df['Births']/df['Population']
df['death_rate'] = df['Deaths']/df['Population']
df['net_pop_change'] = df['Births'] - df['Deaths']
df.head()

        State  Births  Deaths  ...  birth_rate  death_rate  net_pop_change
0     Alabama   58941   53238  ...    0.012059    0.010892            5703
1      Alaska   10445    4411  ...    0.014164    0.005982            6034
2     Arizona   81872   57758  ...    0.011416    0.008054           24114
3    Arkansas   37520   32588  ...    0.012449    0.010813            4932
4  California  471658  268189  ...    0.011831    0.006727          203469

[5 rows x 7 columns]

Because the population change remains the same on a absolute basis, therefore we have:

In [17]:
df['pop_in5years'] = df['Population'] + 5* df['net_pop_change']
df.sample(5, random_state=42)

             State  Births  Deaths  ...  death_rate  net_pop_change  pop_in5years
13         Indiana   82170   65597  ...    0.009802           16573       6774743
39  South Carolina   57029   49441  ...    0.009725            7588       5122067
30      New Mexico   23767   18673  ...    0.008911            5094       2120898
45        Virginia  100391   68579  ...    0.008051           31812       8676745
17       Louisiana   61018   45804  ...    0.009829           15214       4736048

[5 rows x 8 columns]